.col-md-10.col-md-offset-1.blog_preview{:desc => "Description"}
  .col-md-12.blog_preview_group_image.blog_preview_common
  .col-md-12
    .col-md-12
      %h2.blog_title Hello Lorem ipsum dolor sit amet, consectetur adipiscing elit.